sass --watch Style.scss style.css
/*$font-stack: 'Open Sans', sans-serif;
$color: aquamarine;*/

* {
    font: 100% 'Open Sans', sans-serif;
}

body{
    margin: 0;
}

td {
    text-align: center;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: gray;
}

.navbar_element {
    display: block;
    padding: 20px 50px;
    text-decoration: none;
    color: black;
    flex-shrink: 1;
    flex-grow: 0;
    font-size: 20px;
    text-align: center;
}

.navbar_element:hover {
    background-color: aliceblue;
    padding: 20px 90px;
}

main {
    margin-top: 80px;
    padding: 0 20px;
}

.main_content {
    background-color: red;
    height: 1000px;
}

img {
    width: 20px;
}
